* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p, li, a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.95rem;
}

/* Utility */
.container_my {
    width: 70%;
    margin: auto;
}

.flex {
    display: flex;
}

.bg_blue {
    background-color: #122439;
}

.bg_green {
    background-color: #eef1ed;
}

.bg_grey {
    background-color: #bcbebc;
}

.bg_black {
    background-color: #111117;
}

.bg_shark {
    background-color: #1d2023;
}

.list_none {
    list-style: none;
}

/*** Sezione Header ***/
/* Navbar top */
.navbar_top {
    color: #bcbebc;
    padding: 1rem;
    align-items: center;
}

.nav_top_left, .nav_top_right {
    flex-basis: 50%;
}

.nav_top_right ul {
    margin-bottom: 0;
}

.nav_top_right ul li {
    padding: 0 1rem;
}

.nav_top_right ul li i {
    padding: 0 0.5rem;
}

/* Banner */
.banner {
    background-image: url('../img/bg-parallax.png');
    background-position: center;
    height: 800px;
    position: relative;
}

.ready {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.ready h1 {
    font-size: 6rem;
    font-weight: 800;
}

.ready h1 span {
    background-color: aquamarine;
    padding: 1rem;
    margin: 1rem;
}

.ready p {
    width: 55%;
    margin: auto;
    padding: 2rem 0;
    font-size: 1.75rem;
}

.ellips_box {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 98%;
    transform: translateY(-50%);
}

.ellips {
    height: 45px;
    width: 15px;
    border-radius: 1rem;
    border: 2px solid #038484;
    margin: .75rem;
}

.ellips_box > div:nth-child(2) {
    background-color: #038484;
}
/* Nav transparent */
.navbar_transparent {
    align-items: center;
}

.logo {
    flex-basis: 40%;
}

.nav_links {
    flex-basis: 60%;
}
/*** Sezione Main ***/
/* Services */
#services {
    position: relative;
    padding-top: 5rem;
}

#services h4, #about h4, #get_in h4 {
    margin: 1rem;
}

#services h2, #get_in h2 {
    margin: 2rem 1rem;
}

#services h2 span, #about h2 span, #projects h2 span, #results h2 span, #get_in h2 span {
    background-color: #6ca0a0;
    color: #038484;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}

#services div.flex:nth-child(3) {
    margin: 0 1rem;
    justify-content: space-between;
    font-size: 1.5rem;
}

#services p {
    width: 65%;
}

#services .grid, #projects .grid {
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 10rem;
}

.card {
    position: relative;
    flex-basis: calc(33.33% - 2rem);;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    padding: 3rem;
}

.card i {
    color: #038484;
}

.card .icons {
    justify-content: space-between;
}

.icons i:nth-child(1) {
    font-size: 3.5rem;
}

.arrow {
    background-color: #6ca0a0;
    color: #038484;
    padding: 1rem;
    border-radius: 50%;
}

.card.no_visible {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 0;
}

.card.card.no_visible:hover {
    opacity: 1;
}

#services img, #about img {
    width: 10%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    z-index: 999;
}
/* about */
#about {
    position: relative;
    color: white;
    width: 100%;
}

#about .container_my {
    position: absolute;
    top: 0;
    left: 15%;
}

.company {
    flex-basis: 50%;
    margin-top: 10rem;
}

#about h2 {
    font-weight: 800;
    font-size: 4rem;
}

#about p, #form p {
    margin: 1rem;
}

#about .grid {
    width: 100%;
    flex-wrap: wrap;
}

#about .card {
    flex-basis: calc(50% - 2rem);
    background-color: transparent;
    border-radius: 0;
    padding: 0;
}

#about .card h3 {
    display: inline-block;
}

#about .card p {
    margin: 0;
}

#about .buttons {
    padding: 1rem;
    margin-bottom: 10rem;
}

.image {
    height: 700px;
    width: 50%;
    background-image: url('../img/about-4.jpg');
    background-size: cover;
    margin-left: 50%;
    z-index: 998;
}

/* Projects */
#projects {
    padding-top: 5rem;
}

#projects .card {
    position: relative;
    padding: 0;
}

#projects img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
}

.overlay i {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    color: white;
    font-size: 3rem;
    display: none;
}

.overlay h3 {
    position: absolute;
    bottom: 15%;
    padding: 2rem 3rem;
    color: white;
    font-weight: 600;
}

.overlay p {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    color: white;
    font-weight: 600;
    display: none;
}

/* Results */
#results {
    color: white;
}

.results_top {
    background-image: url('../img/bg-7.jpg');
    background-position: left center;
    padding: 7rem 0;
}

.box {
    flex-basis: 25%;
    padding: 2.5rem;
}

.results_bottom {
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
}

.logo_box {
    flex-basis: calc(100% / 6);
}

/* Get_in */
#get_in {
    padding: 7rem 0;
}
#form, .example {
    padding: 2rem;
}

#form {
    flex-basis: 60%;
}

.example {
    flex-basis: 40%;
}

#form input, #form select {
    width: calc(49.5% - 2rem);
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: .5rem;
    background-color: #bcbebc;
    color: #504f51;
    outline: 0;
}

#name {
    background-image: url('../img/image (1).png');
    background-position: 98% center;
    background-repeat: no-repeat;
}

#form textarea {
    width: calc(100% - 2rem);
    margin: 1rem;
    resize: none;
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: .5rem;
    background-color: #bcbebc;
    color: #504f51;
    outline: 0;
}

#form button {
    margin: 1rem;
    padding: 0.5rem 1rem;
}

.example h3 {
    margin: 1rem 0;
    font-size: 2.5rem;
    font-weight: 700
}

.example p {
    margin: 2rem 0;
}

.example li {
    padding: 1rem 0;
}

.example i {
    margin-right: 1.5rem;
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #6ca0a0;
    color: #038484;
    border-radius: 50%;
}

.example i:last-of-type {
    height: 35px;
    width: 35px;
    text-align: center;
}
/*** Sezione Footer ***/
footer {
    color: #bcbebc;
    position: relative;
}

#links {
    padding: 5rem 0;
}

.info_card, .footer_card {
    flex-basis: 25%;
    padding: 2rem;
    margin: 1rem;
}

.info_card img {
    width: 50%;
}

.info_card p {
    margin: 2rem 0;
    font-size: 1.5rem;
}

.info_card i {
    padding-right: 1.5rem;
    font-size: 1.5rem;
} 

.info_card i:last-of-type {
    width: 30px;
    text-align: center;
}

.footer_card {
    border-radius: 1rem;
}

.info_card li, .footer_card li {
    font-size: 1.5rem;
}

.footer_card i {
    padding-right: 1rem;
}

#credits {
    padding: 2rem 0;
    background-color: black;
}

#credits p {
    margin: 0;
    font-size: 1.25rem;
}

#credits > div.flex {
    align-items: center;
}

.credits_left, .credits_right {
    flex-basis: 50%;
}

.credits_right span {
    color: #038484;
}

#goup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    text-align: center;
    padding: 0.5rem;
    position: absolute;
    bottom: 3%;
    right: 3%;
    background-color: #1d2023;
    border-radius: 50%;
}

#goup a {
    color: #111117;
}

#goup i {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}